*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#main_header
{
	padding: 25px 0px;
	border-top: 5px solid #40aed7;
	width: 100%;
}
#main_header .container
{
	border-bottom: 1px solid #ddd;
}
#main_header .serch_area
{
	float: right;
	margin-bottom: 12px;
}
#main_header .serch_area input[type="text"]
{
	background-color: #e9e9e9;
	padding: 12px 10px;
	width: 240px;
	border-radius: 8px;
	border: none;
	color: #808080;
}
#main_header .serch_area input[type="submit"]
{
	background-color: #40aed7;
	padding: 12px 4px;
	border-radius: 8px;
	border: none;
	color: #fff;
	width: 70px;
	
}
#main_header .main_menu
{
	width: 100%;
	clear: both;
	padding:16px 0px;
	/*border-bottom: 1px solid #808080;
}*/
}
#main_header .main_menu ul
{
	list-style: none;
	text-align: right;

}
#main_header .main_menu ul li
{
	display: inline-block;
	padding-left: 24px;

}
#main_header .main_menu ul li a
{
	color: #808080;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
#main_header .main_menu ul li a:hover
{
	color: #40aed7;
	text-transform: uppercase;
	font-size: 16px;
}
#slider_area {
padding: 48px 0px;
}
#slider_area img {
	display: inline-block;
	margin-right: 30px;
	float: left;
}
#slider_area h2{
	color: #333333;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: medium;
	margin-top: 70px;
	text-align: center;
}
#slider_area p{
	font-size: 16px;
	color: #979797;
	margin-bottom: 28px;
	text-align: center;
}
#slider_area a{ 
	padding: 10px 20px;
	color: white;
	background-color: #40aed7;
	font-size: 22px;
	font-weight: medium;
	/*margin-top: 22px;*/
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
}
#slider_area a:hover{ 
	
}

#text_area {
padding: 50px 0px;


}
#text_area h2
{
	text-align: center;
	font-size: 40px;
	font-weight: medium;
	color: #333333;
	text-transform: uppercase;
}
#text_area p
{
	font-size: 16px;
	color: #979797;
	text-align: center;
}
#footer_area{

	padding: 50px;
	background-color: #1b1b1b;
	color: #fff;
	margin-top: 20px;

}
address
{
	color: #979797;
		font-size: 16px;
}

#footer_area p
{
		color: #979797;
		font-size: 16px;

}
#footer_area h2
{
		text-transform: uppercase;
		font-size: 20px;
		color:#fff;
		border-bottom: 1px solid #ddd;
		padding-bottom: 8px;
}
#footer_area ul
{
		list-style: none;

}
#footer_area ul li
{
		color: #979797;
		font-size: 16px;
		margin-bottom: 10px;

}
#footer_area ul li a
{

}
#footer_area ul li a:hover
{

}

#footer_area .Newsletter
{

}
#footer_area .Newsletter input
{
		width: 70%;
		float: left;
		margin-top: 20px;
		padding: 10px;
		border: 0px solid;
		color: #fff;
		border: none;
}
#footer_area .Newsletter input[type="submit"]
{

}


